a {
    color: #59a5f5;
    text-decoration: underline;

}

input {
    border: none;
    outline: none;
    width: 200px;
    border-bottom: 2px solid gray;
    background: gray;
    opacity: 0.5;
    color: white;
    font-family: "inter", sans-serif;
    font-weight: 200;
}

a:visited {
    color: #59a5f5;
    text-decoration: underline;

}

body {
    margin: 0;
    font-family: "inter", sans-serif;
    font-weight: 200;
}

.home-page{
    display: flex;
    flex-direction: column;
    background: rgb(82, 78, 78); /* I'm adding this background as gray in case users cant load the image. However note that it is putting gray then the image is OVERRIDING IT, so maybe look into that. */
    background-image: url("./images/urban-vintage-78A265wPiO4-unsplash.jpg");
    background-repeat: no-repeat; /* This is crucial so that it doesn't focus on some rando ahh part of the image */
    background-size: cover;
    align-items: center;

}

.flex-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-image: url("./images/oscar-aguilar-elias-B5p9If-Xic8-unsplash.jpg");
    background-repeat: no-repeat; /* This is crucial so that it doesn't focus on some rando ahh part of the image */
    background-size: cover;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255,255,255,0.4);
    padding: 50px;
    margin: 100px;
    height: 500px;
    width: 500px;
    border-radius: 100px;
}

.sign {
    font-family: "inter", sans-serif;
    color: white;
    font-weight: 200;
    font-size: 40px;
    align-items: baseline;
    padding:40px;
    box-sizing: border-box;
}

img {
    height: auto;
    width: 1000px;
}

button {
    cursor: pointer;
    background-color: rgb(101, 193, 255, 0.6);
    color: white;
    border: none;
    font-family: "inter", sans-serif;
    font-weight: 300;
    border-radius: 20px;
}

.dashboard {
    background-color: rgb(40, 42, 46); 
    color: white;
}

.header-tab{
    display: flex;
    font-family: "inter", sans-serif;
    font-weight: 300;
    background-color: rgb(48, 58, 62);
    border-radius: 20px;
}

h1{
    margin: 30px;
    font-family: "inter", sans-serif;
    font-weight: 300;
}